h1,h2,h3,h4,h5,h6 {
    /*font-family: 'Roboto Condensed', sans-serif;*/
    font-family: 'Ubuntu', serif;
    color:#222;
    font-weight: bold;
}

h3 {
	color:#555;
}

small {
	color:#555;
}

.big {
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
	color:#555;
	margin-bottom: 20px;
}

img {
	max-width:100%;
}


iframe{
    width:100%;
}

/*DIVIDER*/
.page-divider { max-width: 981px; height: 14px; margin: 0 auto; background: transparent url("/img/page-divider.png") no-repeat center; background-size: 100% 100%; }
.page-divider.bottom {background: transparent url("/img/page-divider-bottom.png") no-repeat center;  }

